---
layout: default
page-key: index
title: "A software engineering blog by Tasos Piotopoulos"
subscribe_source: index
---
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6 content-headline-right">
				<h1 id="c">Mission.</h1>
				<p>I'm Tasos Piotopoulos, a force multiplier for software delivery teams, with a track record of solving complex problems through delivering high-quality solutions and a passion for helping others grow professionally. <a href="{{ site.baseurl }}/about" title="About"><i class="fas fa-arrow-right"></i></a></p>
				<p>These are my stories. <a href="{{ site.baseurl }}/posts" title="Stories"><i class="fas fa-arrow-right"></i></a></p>
				<i>DrinkBird is a software engineering blog by Tasos Piotopoulos</i>
			</div>
			<div class="col-md-5 photo">
				<div class="author">
					<figure>
						<img src="{{ site.baseurl }}/assets/media/drinkbird_shot.jpg" class="img-circle img-thumbnail img-fifty" alt="Tasos Piotopoulos (Anastasios)" />
					</figure>
				</div>
			</div>			
		</div>
	</div>
</div>

<div class="content-featured">
	<div class="container">
		<h2 class="text-center">Featured Stories</h2>
		<div class="row">
			{% assign count = 0 %}
			{% for post in site.categories['blog'] %}
			{% if post.featured and count < 2 %}
			<div class="col-md-6">
				<section class="posts">
					<article class="article-list">
						<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
							{% include image-feature-list.html %}
							<h1>{{ post.title }}</h1>
						</a>
						<p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
					</article>
				</section>
			</div>
			{% assign count = count | plus: 1 %}
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<div class="background-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content-headline">
					<h2>Testimonials</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="quote">
					<blockquote>
						Tasos proves that out with his enthusiasm, passion and professionalism, all the intangibles that are vital for real world work.
					</blockquote>
					<div class="quote-info">
						<img alt="Robert Byrne" src="{{ site.baseurl }}/assets/media/rob.jpg" />
						<span class="quote-info-name">
							<strong>Robert Byrne</strong> Technical Architect at KeyedIn Solutions, Inc.
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="quote">
					<blockquote>
						Tasos is a reliable, truly self-motivated professional who shows engineering discipline and knows how to get the job done.
					</blockquote>
					<div class="quote-info">
						<img alt="Alexandros Fatles" src="{{ site.baseurl }}/assets/media/alex.jpg" />
						<span class="quote-info-name">
							<strong>Alexandros Fatles</strong> Software Development Manager at SiEBEN, Ltd.
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      	<figure class="logo">
      		<img src="{{ site.baseurl }}/assets/media/logo_400.png" class="img-responsive" title="The DrinkBird Logo">
      		<figcaption>{{ site.longdescription }}</figcaption>
      	</figure>
      </div>
    </div>
  </div>
</div>
