---
layout: default
page-key: index
---
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<section class="posts">
				<h1 class="posts-header">Featured Post</h1>
				{% assign count = 0 %}
				{% for post in site.categories['blog'] %}
				{% if post.featured and count < 1 %}
				<article class="article-list">
					<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
						{% include image-feature-list.html %}
						<h1>{{ post.title }}</h1>
					</a>
					<p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
				</article>
				{% assign count = count | plus: 1 %}
				{% endif %}
				{% endfor %}
			</section>
		</div>
		<div class="col-md-6">
			<section class="posts">
				<h1>Featured Project</h1>
				{% assign count = 0 %}
				{% for post in site.categories['project'] %}
				{% if post.featured and count < 1 %}
				<article class="article-list">
					<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
						{% include image-feature-list.html %}
						<h1>{{ post.title }}</h1>
					</a>
					<p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
				</article>
				{% assign count = count | plus: 1 %}
				{% endif %}
				{% endfor %}
			</section>
		</div>
	</div>
</div>