---
layout: default
page-key: posts
permalink: /posts/
title: Stories
excerpt: "Distilled thoughts and experiences from the tech industry and literature"
---
<section class="posts">
  <div class="container">
    <div class="skew-between">
      <div class="row">
        <div class="col-md-12">
          <div class="content-headline">
            <h1 class="posts-header">{{page.title}}</h1>
            <p>{{page.excerpt}}</p>
          </div>
        </div>
      </div>
    </div>
    {% assign count = 0 %}
    {% for post in site.categories['blog'] %}
    {% assign count = count | plus: 1 %}
    {% assign result = count | modulo: 2 %}
    {% if result == 1 %}
    <div class="row">
    {% endif %}  
      <div class="col-md-6">
        <article class="article-list">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            {% include image-feature-list.html %}
            <h1>{{ post.title }}</h1>
          </a>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
          <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
        </article>
      </div>
    {% if result == 0 %}
    </div>
    {% endif %}
    {% endfor %}
    {% if result == 1 %}
    </div>
    {% endif %}
  </div>     
</section>