This was the book that made me realize that software quality assurance is not just a standard procedure that takes place towards the end of the development cycle, but rather a continuous struggle which starts from the very beginning, at the stage of requirements gathering. 

Its various concepts are illustrated using colorful metaphors so that they're easier to understand, but it also becomes quite simpler to explain them to a non-technical audience, such as stakeholders or project managers.

*Code Complete 2* is the number 1 technical book I'm recommending to every software developer that truly cares about the craft.
