For the more experienced engineers, I recommend the all-time-classic *Design patterns : elements of reusable object-oriented software*, written by Erich Gamma, Richard Helm, Ralph Johnson and John Vlissides, a group of authors also known as *The Gang of Four*. 

I made several attempts to read this book over the last few years, just to find out that I wasn't ready yet. Only after reading [Head First Design Patterns](http://geni.us/hfdesignpatterns) and getting some more experience in the field I was finally able to read and understand the GoF book. I believe that noone should get discouraged if their initial attempts fail.

The book's examples are written in Java, but the designs are applicable to every OOP language, especially to the strongly-typed ones.