<div class="amz-widget">
{% if book.url contains "amazon.com" %}
    <a target="_blank" href="{{ book.url }}" class="" aria-label="View '{{ book.title }}' on Amazon">
{% else %}
    <a target="_blank" href="{{ book.url }}" class="" aria-label="View '{{ book.title }}'">
{% endif %}        
        <div class="book-image">
        {% if book.coverUrl %}
            <img class="img-responsive" src="{{ book.coverUrl }}" alt="{{ book.title }}" />
        {% else %}
            {% if book.imgid %}
		<img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/I/{{ book.imgid }}.jpg" alt="{{ book.title }}" />
			{% else %}
		<img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/P/{{ book.isbn }}.jpg" alt="{{ book.title }}" />
			{% endif %}
        {% endif %}
        </div>
        <div class="amz-widget-body">
            <div class="amz-widget-product-name">
            {% if book.url contains "amazon.com" %}
                View '{{ book.title }}' on Amazon
            {% else %}
                View '{{ book.title }}'
            {% endif %}
            </div>
        </div>
    </a>
</div>