<div class="amz-widget">
    <div class="book-image">
        {% if book.coverUrl %}
        <img class="img-responsive" src="{{ book.coverUrl }}" alt="{{ book.title }}" />
        {% else %}
        <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/P/{{ book.isbn }}.jpg" alt="{{ book.title }}" />
        {% endif %}
    </div>
    <div class="amz-widget-body">
        <table class="table">
            <tbody>
                <tr>
                    <td class="amz-widget-product-name">
                        {{ book.title }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text-right">
                            {% if book.url contains "geni.us" %}
                            <a target="_blank" href="{{ book.url }}" class="btn btn-info" title="View '{{ book.title }}' on Amazon (affiliate link)" aria-label="View '{{ book.title }}' on Amazon (affiliate link)">
                                View on <i class="fab fa-amazon"></i> <small style="text-transform: capitalize;">(affiliate link)</small>
                            {% else %}
                            <a target="_blank" href="{{ book.url }}" class="btn btn-info" title="View '{{ book.title }}'" aria-label="View '{{ book.title }}'">
                                View <i class="fas fa-book-open"></i>
                            {% endif %}
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>