<div class="author-inline">
    <figure>
        <div>
            <a href="{{ site.baseurl }}/about">
                <div>
                    <img src="/assets/media/drinkbird_shot.jpg" class="img-circle" alt="Anastasios Piotopoulos">
                </div>
            </a>
        </div>
        <figcaption>
            <div class="name">
                Written by <a href="{{ site.baseurl }}/about">Tasos Piotopoulos</a>
            </div>
            <div class="title">
                Lead Software Engineer | M.Sc. | Published Author | Meetup Organizer
            </div>
        </figcaption>
    </figure>
</div>