<div class="book">
	<div class="book-anchor" id="{{book_key}}"></div>
	<div class="row">
		<div class="col-md-3">
			<img class="img-responsive" src="http://images.amazon.com/images/P/{{ book.isbn }}.jpg" alt="{{ book.title }}" />
		</div>
		<div class="col-md-9">
			<h2>{{ book.title }}</h2>
			<div>
				<a target="_blank" href="{{ book.url }}" class="btn btn-info" aria-label="Buy '{{ book.title }}' on Amazon">Buy on Amazon</a>
			</div>

			{% if display_book_description %}
			{% capture book_description %}{% include books/{{ book_key }}.md %}{% endcapture %}
			{{ book_description | markdownify }}
			{% endif %}

			{% if book.tags %}
			Tags: {% for tag in book.tags %}<span class="label label-info">{{ tag }}</span> {% endfor %}
			{% endif %}
		</div>
	</div>	
</div>