<script>
(function() {
  function loadGA() {
    var s = document.createElement('script');
    s.async = true;
    s.src = 'https://www.googletagmanager.com/gtag/js?id={{ site.owner.google.analytics }}';
    document.head.appendChild(s);

    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.owner.google.analytics }}');
  }
  document.addEventListener('drinkbird:consent-granted', loadGA, { once: true });
})();
</script>
