<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% if page.chapter_title %}{{ page.chapter_title }} | {{ site.title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.longdescription }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/glightbox.min.css?v={{ site.time | date: '%s' }}">
<script defer src="https://kit.fontawesome.com/3e89c5fbcc.js"></script>

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% feed_meta %}
<meta name="author" content="Tasos Piotopoulos (Anastasios)" />
<meta name="copyright" content="Tasos Piotopoulos (Anastasios)" />

{% if site.owner.google.analytics %}
{% include google-analytics.html %}
{% endif %}