<!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header>
  <div class="container">
    <div class="blog-header">
      <div class="brand-full hidden-xs hidden-sm">
        <div class="row">
          <div class="col-md-3">
            <a href="{{ site.baseurl }}/">
              <div class="ch-item ch-img hidden-xs hidden-sm">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                    <div class="ch-info-front ch-img"></div>
                    <div class="ch-info-back"></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-9">
            <div class="brand-description text-center">
              <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
              <h2>{{ site.tagline }}</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="brand-plain hidden-md hidden-lg">
        <div class="row">
          <div class="col-xs-4 col-sm-3">
            <a href="{{ site.baseurl }}/" title="Home">
              <img src="{{ site.baseurl }}/assets/media/db-transparent.png" class="pull-left img-circle img-responsive" alt="DrinkBird Logo" />
            </a>
          </div>
          <div class="col-xs-8 col-sm-9">
            <div class="brand-description text-center">
              <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
              <h2>{{ site.tagline }}</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
