{% if page.image.feature %}
  {% if page.image.feature contains 'http' %}
      {% assign imageSource = page.image.feature %}
  {% else %}
      {% capture imageSource %}{{ site.baseurl }}/images/{{ page.image.feature }}{% endcapture %}
  {% endif %}  
  <figure>
    <img src="{{ imageSource }}" alt="{{ page.title }} feature image" class="img-responsive">
  {% if page.image.credit %}
    <figcaption>Image by <a href="{{ page.image.creditlink }}" target="_blank">{{ page.image.credit }}</a></figcaption>
  {% endif %}
  {% if page.image.caption %}
    <figcaption>{{ page.image.caption }}</figcaption>
  {% endif %}
  </figure>
{% endif %}