{%- assign include_url = include.url -%}
{%- assign include_title = include.title -%}
{%- if include.tag and site.reads[include.tag] -%}
  {%- assign include_url = site.reads[include.tag].url -%}
  {%- unless include.title %}{% assign include_title = site.reads[include.tag].title -%}{%- endunless -%}
{%- endif -%}
{%- if include_url contains "amazon.com" or include_url contains "amazon.co.uk" -%}
<a target="_blank" href="{{ include_url }}" title="View '{{ include_title }}' on Amazon (affiliate link)" aria-label="View '{{ include_title }}' on Amazon (affiliate link)">{{ include_title }} <small>(Amazon affiliate link)</small></a>
{%- else -%}
<a target="_blank" href="{{ include_url }}" title="View '{{ include_title }}'" aria-label="View '{{ include_title }}'">{{ include_title }}</a>
{%- endif -%}
