<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js?v={{ site.time | date: '%s' }}"><\/script>')</script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js?v={{ site.time | date: '%s' }}"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.fitvids.js?v={{ site.time | date: '%s' }}"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.sticky.js?v={{ site.time | date: '%s' }}"></script>
<script src="{{ site.baseurl }}/assets/js/glightbox.min.js?v={{ site.time | date: '%s' }}"></script>
<script src="{{ site.baseurl }}/assets/js/scripts.min.js?v={{ site.time | date: '%s' }}"></script>

<!-- Mailchimp embedded form validation (footer subscribe block) -->
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>(function($){window.fnames=new Array();window.ftypes=new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));</script>

{% if page.page-key == 'courses' %}
<script src="{{ site.baseurl }}/assets/js/courses.js?v={{ site.time | date: '%s' }}"></script>
{% endif %}

{% include cookie-consent.html %}

{% if page.comments %}
{% include disqus-comments.html %}
{% endif %}

{% assign needs_mermaid = page.mermaid %}
{% if content contains 'language-mermaid' %}{% assign needs_mermaid = true %}{% endif %}
{% if needs_mermaid %}
<script>
    SVGElement.prototype.getTransformToElement = SVGElement.prototype.getTransformToElement || function(elem) {
        return elem.getScreenCTM().inverse().multiply(this.getScreenCTM());
    };
    // Markdown ```mermaid fences render as <pre><code class="language-mermaid">;
    // rewrite them into <div class="mermaid"> *before* mermaid scans the page,
    // so its `startOnLoad: true` pass below picks them up.
    document.addEventListener('DOMContentLoaded', function () {
        var codeBlocks = document.querySelectorAll('pre > code.language-mermaid');
        Array.prototype.forEach.call(codeBlocks, function (code) {
            var div = document.createElement('div');
            div.className = 'mermaid';
            div.textContent = code.textContent;
            code.parentNode.parentNode.replaceChild(div, code.parentNode);
        });
    });
</script>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mermaid.css?v={{ site.time | date: '%s' }}">
<script src="{{ site.baseurl }}/assets/js/mermaid.min.js?v={{ site.time | date: '%s' }}"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
{% endif %}
