
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery-1.11.2.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.fitvids.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.sticky.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/scripts.min.js"></script>

<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience possible","dismiss":"Got it","learnMore":"More info","link":"http://blog.drinkbird.com/privacy-policy","theme":"light-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='SOURCE';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

{% if page.comments %}
{% include disqus-comments.html %}
{% endif %}

{% if page.mermaid %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mermaid.css">
<script src="{{ site.baseurl }}/assets/js/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
{% endif %}
