<div class="social-share-slim">
  <ul>
    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" title="Update"><i class="fab fa-linkedin-in"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" title="Tweet"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" title="Share"><i class="fab fa-facebook-square"></i></a>
    </li>
    <li>
      <a href="https://reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Post"><i class="fab fa-reddit-alien"></i></a>
    </li>
    <li>
      <a href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Email"><i class="far fa-envelope"></i></a>
    </li>
  </ul>
</div>
