<div class="social-share">
  <h2>Share on</h2>
  <ul class="list-inline row">
    <li class="col-xs-12 col-sm-6 col-md-3">
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" class="linkedin small"><span class="symbol">&#xe052;</span><span> LinkedIn</span></a>
    </li>
    <li class="col-xs-12 col-sm-6 col-md-3">
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" class="twitter"><span class="symbol">&#xe086;</span><span> Twitter</span></a>
    </li>
    <li class="col-xs-12 col-sm-6 col-md-3">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" class="facebook"><span class="symbol">&#xe027;</span><span> Facebook</span></a>
    </li>
    <li class="col-xs-12 col-sm-6 col-md-3">
      <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" class="google-plus"><span class="symbol">&#xe039;</span><span> Google+</span></a>
    </li>
  </ul>
</div>
