<div class="row">
    <div class="col-md-12 mc_embed_signup_postbody" id="mc_embed_signup">
        <h2>Become a DrinkBird Insider</h2>
        <p>Get an email when there's a new essay on engineering leadership. Recent ones: Conway's Law, the AI bottleneck, psychological safety. Opt out anytime.</p>
        <form action="https://drinkbird.us8.list-manage.com/subscribe/post?u=504c8b2fdbe68377fb654b562&amp;id=9f7b0d35d5&amp;f_id=00b9cce2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                    <label for="mce-EMAIL" class="sr-only">Email Address</label>
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@example.com" required value="">
                </div>

                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>

                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <input type="text" name="b_504c8b2fdbe68377fb654b562_9f7b0d35d5" tabindex="-1" value="">
                </div>

                <div class="clear submit-row">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg" value="Subscribe">
                </div>

                <p class="subscribe-fineprint">By subscribing, you consent to receive the DrinkBird newsletter. Unsubscribe anytime via the link in any email. We use Mailchimp for delivery; submitting transfers your data to Mailchimp for processing. <a href="https://mailchimp.com/legal/terms" target="_blank" rel="noopener">Learn more</a>.</p>
            </div>
        </form>
    </div>
</div>
