<div class="row">
    <div class="col-md-12 mc_embed_signup_postbody" id="mc_embed_signup">
        <h2>Subscribe now, free!</h2>
        <p>Get updates on my newest stories, interesting books I come across and more.</p>
        <p><small>About 1 message per month - no spam - opt out any time.</small></p>
        <form action="//drinkbird.us8.list-manage.com/subscribe/post?u=504c8b2fdbe68377fb654b562&amp;id=9f7b0d35d5&SOURCE={{ page.subscribe_source }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
            <div class="form-group mc-field-group">
                <label for="mce-EMAIL" class="sr-only">Email</label>
                <input type="email" class="required email form-control" id="mce-EMAIL" placeholder="E-mail Address">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_504c8b2fdbe68377fb654b562_9f7b0d35d5" tabindex="-1" value="" /></div>

            <div class="form-group form-group-last">
                <button type="submit" class="btn btn-default" name="subscribe" id="mc-embedded-subscribe">Go!</button>
            </div>
        </form>
    </div>
</div>
