---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$gray-darker:					#4a4a4a;
$brand-primary:					#e67e22;
$brand-primary-darker:			#8B5220;
$brand-primary-lighter:			lighten($brand-primary, 40%);
$brand-primary-dark:			#3f2808;
$brand-primary-dark-lighter:	rgba(63,40,8,0.11);
$brand-secondary:				#0078d7;
$brand-secondary-dark:			#002050;
$black:							#000;
$white:							#fff;
$text-color:					$gray-darker;
$border-radius-base:			0;
$brand-gray:					#ececec;
$brand-gray-darker:				#d2d2d2;

$brand-success:        			#5cb85c !default;
$brand-info:           			$brand-secondary;
$brand-warning:					$brand-primary;
$brand-danger:					#d9534f !default;
$brand-footer:					#505050;

$color-gh-csharp:				#178600;
$color-gh-js:					#f1e05a;
$color-gh-html:					#e44b23;
$color-gh-java:					#b07219;

$font-family-secondary:			"Open Sans", Helvetica, Arial, sans-serif;
$font-family-primary:			$font-family-secondary;
$font-family-base:				$font-family-secondary;
$headings-font-family:			$font-family-primary;
$navbar-font-family:			$font-family-secondary;
$font-size-base:				16px;
$line-height-base:				1.8;
$icon-font-path:				"../fonts/";

$font-size-h1:					ceil(($font-size-base * 1.6));
$font-size-h2:					ceil(($font-size-base * 1.3));
$font-size-h3:					ceil(($font-size-base * 1.2));
$font-size-h4:					ceil(($font-size-base * 1.1));
$font-size-h5:					$font-size-base !default;
$font-size-h6:					ceil(($font-size-base * 0.85));

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-secondary;
$btn-info-border:                $brand-secondary-dark !default;

/* Navbar Variables **************************************************************************/

$navbar-height:								100px;

// Basics of a navbar
$navbar-default-color:						$text-color;
$navbar-default-bg:							$brand-secondary;
$navbar-default-border:						none;

// Navbar links
$navbar-default-link-color:					$white;
$navbar-default-link-hover-color:			$brand-primary;
$navbar-default-link-hover-bg:				transparent;
$navbar-default-link-active-bg:				transparent;
$navbar-default-link-disabled-color:		#ccc !default;
$navbar-default-link-disabled-bg:			transparent !default;

// Navbar brand label
$navbar-default-brand-color:				$navbar-default-link-color !default;
$navbar-default-brand-hover-color:			darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:				transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:			transparent;
$navbar-default-toggle-icon-bar-bg:			transparent;
$navbar-default-toggle-border-color:		$brand-primary-lighter;


@charset "utf-8";
@import "bootstrap";
@import "syntax-highlighting";
@import "magnific-popup/magnific-popup";
/* @import "site"; */


html,body,button {
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: $brand-primary-dark;
	font-weight: bold;
}

h4 {
	margin-top: 28px;
}

a {
	color: $brand-secondary;

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: inherit;
	}
}

a:active, a:hover {
    outline: 0;
}

pre {
	font-size: 14px;
	
	code {
		overflow-x: scroll;
		white-space: pre;
	}
}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
	font-size: 16px;
	text-align: center;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 $brand-secondary;
    box-shadow: inset 0 -2px 0 $brand-secondary;
}

button, input[type=submit], .btn {
	border: none;
	white-space: nowrap;
    padding: 6px 16px;
	font-size: 13px;
	font-family: $font-family-secondary;
	line-height: 1.846;
	letter-spacing: 0.1px;
	text-transform: uppercase;

	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);	
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/* Header */
#nav-wrapper {
	z-index: 999;
}

.navbar {	
	font-family: $navbar-font-family;
	margin-bottom: 0;
	z-index: 999;
	border: none;
}

.navbar-brand {
	padding: 5px 0 0 15px;

	img {
		height: 100px;
		transition: 0.4s;
	}
}

.is-sticky {
	.navbar {
		min-height: 50px;

		.navbar-brand {
			height: 50px;

			img {
				height: 50px;
			}
		}

		.navbar-toggle {
			margin-top: 7px;
			margin-bottom: 7px;
		}
	}
}

.navbar-toggle {
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 14px 18px 10px;
	color: $brand-primary-darker;
	background-color: $white;

	&:hover, &:active, &:focus {
		background-color: $white !important;
	}
}

.navbar-nav > li > a {
	font-weight: normal;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: $brand-primary;
	font-weight: 800;
}

.navbar button .glyphicon,
.navbar-toggle,
nav li a,
a {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* General */

.gly-rotate-180 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.jumbotron {
	color: $white;
	margin-top: -110px;
    padding-top: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
	text-shadow: 0 0 15px #3C3C3C;
	background-color: $brand-secondary-dark;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position-y: 50%;

	a {
		color: $white;
	}
	
	p {
		font-size: 19px;
		font-weight: 100;
		line-height: 1.5em;
	}
}

#c {
	font-size: 40px;
	margin-top: 0;
	text-shadow: 0 0 15px #3C3C3C;
}

@media (min-width: $screen-md-min) {
	.jumbotron {
		background-size: 100% auto;
	}
}

@media (min-width: $screen-lg-min) {
	.jumbotron {
		background-position-y: 70%;
	}
}

.skew-between {
	margin-top: 60px;

	figure {
		figcaption {
			color: $brand-primary-dark;
			font-size: $font-size-h3;
		}
	}

	hr {
		margin-top: 14px;
	}
}

.skew-left-top {
	display: block;
	position: relative;
	top: -50px;
	margin-top: 100px;
	margin-bottom: -70px;
	height: 100px;
	transform: skewY(3deg);
}

.skew-left-bottom {
	display: block;
	position: relative;
	bottom: -50px;
	margin-bottom: 100px;
	margin-top: -70px;
	height: 100px;
	transform: skewY(-3deg);
}

.background-dark {
	background-color: $brand-secondary-dark;
	margin-bottom: 30px;

	h1 {
		text-align: center;
		font-size: 60px;
		font-weight: normal;
		color: $white;
	}
	
	h2 {
		text-align: center;
		font-size: 40px;
		font-weight: normal;
		color: $white;
	}
}

.background-light {
	background-color: $brand-secondary;
	margin-bottom: 30px;

	h1 {
		text-align: center;
		font-size: 60px;
		font-weight: normal;
		color: $white;
	}
	
	h2 {
		text-align: center;
		font-size: 40px;
		font-weight: normal;
		color: $white;
	}
}

.content-headline {
	text-align: center;

	h1 {
		font-size: 40px;
		font-weight: 800;
	}

	p {
		font-size: 18px;
		line-height: 30px;
		font-weight: 300;
	}

	&.top {
		margin-top: 50px;
	}
	
	.author {
		margin-top: 65px;
		width: 85%;
	}

	figure {
		display: inline-block;
	}
}

.content-headline-right {
	text-align: right;
}

.content-featured {
	h2 {
		font-weight: normal;
		font-size: 40px;
	}

	h1 {
    	font-size: 38px;
    	font-weight: normal;
	}

	p {
		font-size: 18px;
		padding-top: 0.8em;
		font-weight: normal;
	}
}

.quote {
	margin-bottom: 50px;

	blockquote {
		background: rgba(255,255,255,.9);
		font-style: italic;
		font-size: 17px;
		line-height: 28px;
		padding: 1.2em;
		position: relative;
	}

	blockquote:before {
		left: 7em;
		content: '';
		position: absolute;
		bottom: -40px;
		width: 0;
		height: 0;
		border-top: 0 solid transparent;
		border-bottom: 40px solid transparent;
		border-left: 50px solid rgba(255,255,255,.9);
	}

	.quote-info {
		margin-top: 2em;

		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			float: left;
			margin-right: 1.5em;
			border: 2px solid #aaa;
		}

		.quote-info-name {
			display: block;
			color: $white;
			padding-top: 2em;
			padding-bottom: 20px;
			line-height: 22px;
		}
	}
}

@media (min-width: $screen-md-min) {
	.quote {
		margin-bottom: 30px;
	}
}

blockquote {
	border-left: 5px solid $brand-primary-dark;
}

a {
	color: $brand-secondary;

	&:hover {
		color: $brand-secondary-dark;
		text-decoration: none;
	}
}

figure {
	@extend .text-center;
	margin-bottom: 10px;

	img, .img-responsive {
		display: inline-block;
		margin-bottom: 10px;
	}
}

section {	
	text-align: center;

	h1 {
		font-size: $font-size-h1 * 1.2;
		margin: 16px 0 22px;
	}
}

time {
	display: block;
	margin-bottom: 20px;
	font-size: $font-size-base * 0.8;
	font-family: $headings-font-family;
}

ul.gallery {
	li {
		margin-bottom: 15px;
	}
}

.mermaid {
	width: auto !important;
	text-align: center;
}

.list-inline {
	text-align: center;

	figcaption {
		text-align: center;
	}
}

/* Index */
.posts {
	margin-bottom: 36px;

	article.article-list {
		margin-bottom: 36px;

		& > a > h1 {
			font-size: $font-size-h1;
			margin: 0;
		}

		p, time {
			margin-bottom: 8px;
		}
	}
}

figure.logo {
	img {
		max-width: 300px;
	}
	margin-bottom: 0;
}

/* Footer */
footer.site-footer {
	margin-top: 20px;
	color: $brand-footer;

	#footer-upper {
		background-color: $brand-secondary-dark;
		padding: 20px 0;
	}

	#footer-lower {
		@extend .text-center;
		padding: 20px 0;
		position: relative;
		background-color: $brand-gray;
		font-family: $font-family-primary;
		
		section.copyright, section.published {
			font-size: 10px;
			font-weight: normal;
		}
		
		.logo-footer {
			height: 40px;
		}

		a {
			color: #4a4a4a;
		}
	}
}

/* Post */
.post-content {
	.content-headline {
		padding-bottom: 20px;
	}

	h2 {
		font-size: 24px;
		font-weight: bold;
		padding-bottom: 20px;
	}

	p {
		font-size: 20px;
		padding-bottom: 20px;
	}

	ul,ol {
		padding-bottom: 10px;

		li {
			font-size: 20px;
			padding-bottom: 10px;
		}
	}

	blockquote {
		padding-bottom: 20px;
		
		p {
			padding-bottom: 0;
		}
	}

	figure {
		@extend .text-left;
	}
	
	a:not(.btn) {
		text-decoration: none;
	}

	img + em {
		text-align: center;
		display: block;
	}

	.anchor {
		display: block;
    	position: relative;
    	top: -250px;
    	visibility: hidden;
	}
}

.post-body {
	img {
		@extend .img-responsive;
	}

	& > p > img {
		display: block;
		margin: 40px auto 0;
		max-width: 100%;
	}

	.giphy {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

@media (min-width: $screen-sm-min) {
	.post-body {
		& > p > img {
			max-width: 70%;
		}
	}
}

blockquote {
	font-size: 20px;
}

a.cover {
	display: block;
	text-align: center;
	border-top: 1px dashed #ccc;
	padding-top: 24px;

	> img {
		display: inline-block;
	}
}

.book {
	a.btn {
		text-decoration: none;
		display: inline-block;
		margin-top: 5px;
		margin-bottom: 15px;
	}

	.book-anchor {
		display: block;
		position: relative;
		top: -90px;
	}
}

@media (min-width: $screen-md-min) {
	.book {
		h2 {
			margin-top: 0;
		}
	}
}

.book-inarticle {
	a {
		display: inline-block;

		img {
			margin: 0 auto;
			max-height: 500px;
		}
	}
}

.books-aside {
	list-style: none;
	margin: 0;
	padding: 0;

	.book-aside {
		text-align: center;
		margin-bottom: 25px;

		a {
			text-decoration: none;
		}

		img {
			border: 1px solid $gray;
			margin: 0 auto;
		}
		
		h4 {
			font-weight: bold;
			font-size: 22px;
			
			.header-suffix {
				font-weight: normal;
				font-size: 16px
			}
		}		
	}
}

.subscribe-aside {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;

	h2 {
		margin-top: 0;
	}
}

.mc_embed_signup_sidebar {
	text-align: center;
	float: left;
	width: 100%;

	input.email {
		width: 100%;
		border-color: none;
	}

	input.mce_inline_error {
		border-color: $brand-danger !important;
	}
	
	div.mce_inline_error {
		background-color: inherit !important;
		color: $brand-danger !important;
		font-family: $font-family-primary !important;
		font-weight: normal !important;
	}

    input.btn {
		display:inline-block;
		margin:14px 0 50px;
	}
}

.mc_embed_signup_postbody {
	text-align: center;
	float: left;
	width: 100%;
	color: white;

	input.mce_inline_error {
		border-color: $brand-danger !important;
	}
	
	div.mce_inline_error {
		background-color: inherit !important;
		color: $brand-danger !important;
		font-family: $font-family-primary !important;
		font-weight: normal !important;
	}

	h2 {
		text-align: center;
		font-size: 30px;
		font-weight: normal;
		margin-top: 0;
		color: white;
	}

	input[type=email] {
		-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
		width: 100%;
	}

	button {
		padding: 9px 16px 10px;
	}
}

.author {
	margin-bottom: 20px;

	figure {
		width: 100%;
		text-align: center;
		display: inline-block;

		img {
			width: 50%;
		}

		figcaption {
			color: #555;
			font-weight: 400;
			margin-top: 0.8em;
			font-size: 16px;
		}
	}
}

.social-share-slim {
	text-align: center;
	margin: 20px 0;

	ul {
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;

		li {
			width: 30px;
			height: 30px;
			margin: 0 7px;
			display: inline-block;
			text-align: center;
	
			a {
				background-color: $brand-primary-dark-lighter;
				color: $brand-primary-dark;
				text-decoration: none !important;
				border-radius: 50%;
				width: 32px;
				height: 32px;
				font-size: 15px;
				padding-top: 3px;
				padding-left: 1px;
				display: block;
			}
		}
	}
}

@media (min-width: $screen-md-min) {
	.author {
		figure {
			img {
				width: 70%;
			}
		}
	}

	.jumbotron {
		.author {
			figure {
				img {
					width: 60%;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	nav.navbar {
		box-shadow: 0 -2px 10px 0 rgba(0,0,0,.5);
		border-radius: 0;
	}
	
	.navbar-nav > li > a {
		border-top: 5px solid transparent;
		padding-top: 39px;

		&:hover {
			border-top: 5px solid $brand-primary;		
		}
	}

	.navbar-nav > li.active > a {
		border-top: 5px solid $brand-primary;
	}

	.is-sticky {
		.navbar-nav > li > a {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	
	ul.social {
		margin-bottom: 0;
		padding-top: 14px;
	}

	.book > a > img {
		height: 400px;
	}

	.quote-right {
		margin-bottom: 0;
	}
}

@media (min-width: $screen-xs-min) {
	.content-headline {
		h1 {
			font-size: 60px;
		}
		p {
			font-size: 24px;
			line-height: 39px;
		}
	}
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
