---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

$brand-primary:				#bb6012;
$brand-dark:				#6fb8ca;
$brand-darker:				#3b230e;
$font-family-serif:			"PT Serif", Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif:	"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-cursive:		"Press Start 2P", cursive;
$font-family-base:			$font-family-serif;
$headings-font-family:		$font-family-sans-serif;
$brand-font-family:			$font-family-sans-serif;
$font-size-base:			18px;
$line-height-base:        	1.6;
$black:						#000;
$white:						#fff;

@charset "utf-8";

@import "bootstrap";

$gray-lighter2:             lighten($gray-base, 77.7%);

@import "syntax-highlighting";
@import "social-icons";
@import "magnific-popup/magnific-popup";
@import "site";