---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<article class="post-content">
				<div class="skew-between">
					<div class="content-headline">
						<h1 class="posts-header">{{page.title}}</h1>
						{% include social-share.html %}
						{% comment %}
						<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
						{% endcomment %}
						{% include image-feature-post.html %}
					</div>
				</div>

				<div class="row">
					<div class="col-md-9">
						<div class="post-body">
							{{ content }}
						</div>
					</div>
					<div class="col-md-3">
						<div class="post-aside">
						{% include author.html %}
						<hr/>
						{% include subscribe-aside.html %}
						{% if page.reads %}
						<hr/>
						<div class="page-reads">
							<h3>Recommended Books</h3>
							<p>Full disclosure: the following are <strong>Amazon affiliate links</strong>. Using them to purchase a book won't cost you extra, but will help me buy more books.</p>
							<ul class="books-aside">
							{% for read_key in page.reads %}
								{% assign book = site.reads[read_key] %}								
								<li class="{% if forloop.index > 3 %}hidden-sm{% endif %}">
									{% include book_aside.html %}
								</li>
							{% endfor %}
							</ul>
						</div>
						{% endif %}
						</div>
					</div>
				</div>
				{% include social-share.html %}
				<div id="disqus_thread"></div>
			</article>
		</div>
	</div>
</div>